<section class="contact">

    <div class="row">
 
       <div class="image">
          <img src="assets\images\contact-img.svg" alt="">
       </div>
 
       <form action="" method="post">
          <h3>get in touch</h3>
          <input type="text" placeholder="enter your name" name="name" required maxlength="50" class="box">
          <input type="email" placeholder="enter your email" name="email" required maxlength="50" class="box">
          <input type="number" placeholder="enter your number" name="number" required maxlength="50" class="box">
          <textarea name="msg" class="box" placeholder="enter your message" required maxlength="1000" cols="30" rows="10"></textarea>
          <input type="submit" value="send message" class="inline-btn" name="submit">
       </form>
 
    </div>
 
    <div class="box-container">
 
       <div class="box">
          <i class="fas fa-phone"></i>
          <h3>phone number</h3>
          <a href="*">+216 27741552</a>
          <a href="*">+216 25648878</a>
       </div>
       
       <div class="box">
          <i class="fas fa-envelope"></i>
          <h3>email address</h3>
          <a href="hjeijinabil22@gmail.com">hjeijinabil22@gmail.com</a>
          <a href="nabilhjeiji@gmail.com">nabilhjeiji@gmail.come</a>
       </div>
 
       <div class="box">
          <i class="fas fa-map-marker-alt"></i>
          <h3>office address</h3>
          <a href="#"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6381.124139235971!2d10.185854999999998!3d36.900823499999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e2cb763f2120bb%3A0xc3e79593db50c2e8!2sLa%20petite%20Ariana%2C%20Cebalat%20Ben%20Ammar!5e0!3m2!1sfr!2stn!4v1696980303893!5m2!1sfr!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></a>
       </div>
 
    </div>
 
 </section>