<table class="table">
    <thead>
      <tr>
   
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">password</th>
        <th scope="col">confirmPassword</th>
        <th scope="col">old_pass</th>
        <th scope="col">new_pass</th>
        <th scope="col">confirmPassword</th>
        
        <th>update</th>
        <th>delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let usr of listuserr">
       
        <td>{{usr.id}}</td>
        <td>{{usr.name}}</td>
        <td>{{usr.email}}</td>
        <td>{{usr.password}}</td>
        <td>{{usr.confirmPassword}}</td>
        <td>{{usr.old_pass}}</td>
        <td>{{usr.password}}</td>
        <td>{{usr.confirmPassword}}</td>
        <td><button  (click)="update(usr.id)">onupdate</button></td>
        <td><button  (click)="delete(usr.id)">ondelete</button></td>
      </tr>
      
    </tbody>
  </table>