
 
 <section class="home-grid">
 
    <h1 class="heading">quick options</h1>
 
    <div class="box-container">
 
       <div class="box">
          <h3 class="title">likes and comments</h3>
          <p class="likes">total likes : <span>25</span></p>
          <a href="#" class="inline-btn">view likes</a>
          <p class="likes">total comments : <span>12</span></p>
          <a href="#" class="inline-btn">view comments</a>
          <p class="likes">saved playlists : <span>4</span></p>
          <a href="#" class="inline-btn">view playlists</a>
       </div>
 
       <div class="box">
          <h3 class="title">top categories</h3>
          <div class="flex">
             <a href="#"><i class="fas fa-code"></i><span>development</span></a>
             <a href="#"><i class="fas fa-chart-simple"></i><span>business</span></a>
             <a href="#"><i class="fas fa-pen"></i><span>design</span></a>
             <a href="#"><i class="fas fa-chart-line"></i><span>marketing</span></a>
             <a href="#"><i class="fas fa-music"></i><span>music</span></a>
             <a href="#"><i class="fas fa-camera"></i><span>photography</span></a>
             <a href="#"><i class="fas fa-cog"></i><span>software</span></a>
             <a href="#"><i class="fas fa-vial"></i><span>science</span></a>
          </div>
       </div>
 
       <div class="box">
          <h3 class="title">popular topics</h3>
          <div class="flex">
             <a href="#"><i class="fab fa-html5"></i><span>HTML</span></a>
             <a href="#"><i class="fab fa-css3"></i><span>CSS</span></a>
             <a href="#"><i class="fab fa-js"></i><span>javascript</span></a>
             <a href="#"><i class="fab fa-react"></i><span>react</span></a>
             <a href="#"><i class="fab fa-php"></i><span>PHP</span></a>
             <a href="#"><i class="fab fa-bootstrap"></i><span>bootstrap</span></a>
          </div>
       </div>
 
       <div class="box">
          <h3 class="title">become a tutor</h3>
          <p class="tutor">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis, nam?</p>
          <a href="/teachers" class="inline-btn">get started</a>
       </div>
 
    </div>
 
 </section>
 
 
 
 <section class="courses">
 
    <h1 class="heading">our courses</h1>
 
    <div class="box-container">
 
       <div class="box">
          <div class="tutor">
             <img src="assets\images\pic-2.jpg" alt="">
             <div class="info">
                <h3>john deo</h3>
                <span>21-10-2022</span>
             </div>
          </div>
          <div class="thumb">
             <img src="assets\images\thumb-1.png" alt="">
             <span>10 videos</span>
          </div>
          <h3 class="title">complete HTML tutorial</h3>
          <a href="/playlist" class="inline-btn">view playlist</a>
       </div>
 
       <div class="box">
          <div class="tutor">
             <img src="assets\images\pic-3.jpg" alt="">
             <div class="info">
                <h3>john deo</h3>
                <span>21-10-2022</span>
             </div>
          </div>
          <div class="thumb">
             <img src="assets\images\thumb-2.png" alt="">
             <span>10 videos</span>
          </div>
          <h3 class="title">complete CSS tutorial</h3>
          <a href="/playlist" class="inline-btn">view playlist</a>
       </div>
 
       <div class="box">
          <div class="tutor">
             <img src="assets\images\pic-4.jpg" alt="">
             <div class="info">
                <h3>john deo</h3>
                <span>21-10-2022</span>
             </div>
          </div>
          <div class="thumb">
             <img src="assets\images\thumb-3.png" alt="">
             <span>10 videos</span>
          </div>
          <h3 class="title">complete JS tutorial</h3>
          <a href="/playlist" class="inline-btn">view playlist</a>
       </div>
 
       <div class="box">
          <div class="tutor">
             <img src="assets\images\pic-5.jpg" alt="">
             <div class="info">
                <h3>john deo</h3>
                <span>21-10-2022</span>
             </div>
          </div>
          <div class="thumb">
             <img src="assets\images\thumb-4.png" alt="cc">
             <span>10 videos</span>
          </div>
          <h3 class="title">complete Boostrap tutorial</h3>
          <a href="/playlist" class="inline-btn">view playlist</a>
       </div>
 
       <div class="box">
          <div class="tutor">
             <img src="assets\images\pic-6.jpg" alt="">
             <div class="info">
                <h3>john deo</h3>
                <span>21-10-2022</span>
             </div>
          </div>
          <div class="thumb">
             <img src="assets\images\thumb-5.png" alt="jjjjjj">
             <span>10 videos</span>
          </div>
          <h3 class="title">complete JQuery tutorial</h3>
          <a href="/playlist" class="inline-btn">view playlist</a>
       </div>
 
       <div class="box">
          <div class="tutor">
             <img src="assets\images\pic-7.jpg" alt="">
             <div class="info">
                <h3>john deo</h3>
                <span>21-10-2022</span>
             </div>
          </div>
          <div class="thumb">
             <img src="assets\images\thumb-6.png" alt="">
             <span>10 videos</span>
          </div>
          <h3 class="title">complete SASS tutorial</h3>
          <a href="/playlist" class="inline-btn">view playlist</a>
       </div>
 
    </div>
 
    <div class="more-btn">
       <a href="/courses" class="inline-option-btn">view all courses</a>
    </div>
 
 </section>

 

    <!-- Categories Start -->
    <div class="container-xxl py-5 category">
      <div class="container">
          <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
              <h6 class="section-title bg-white text-center text-primary px-3">Categories</h6>
              <h1 class="mb-5">Courses Categories</h1>
          </div>
          <div class="row g-3">
              <div class="col-lg-7 col-md-6">
                  <div class="row g-3">
                      <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                          <a class="position-relative d-block overflow-hidden" href="">
                              <img class="img-fluid" src="assets\images\cat-1.jpg" alt="">
                              <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                  <h5 class="m-0">Web Design</h5>
                                  <small class="text-primary">49 Courses</small>
                              </div>
                          </a>
                      </div>
                      <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                          <a class="position-relative d-block overflow-hidden" href="">
                              <img class="img-fluid" src="assets\images\cat-2.jpg" alt="">
                              <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                  <h5 class="m-0">Graphic Design</h5>
                                  <small class="text-primary">49 Courses</small>
                              </div>
                          </a>
                      </div>
                      <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                          <a class="position-relative d-block overflow-hidden" href="">
                              <img class="img-fluid" src="assets\images\cat-3.jpg" alt="">
                              <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                  <h5 class="m-0">Video Editing</h5>
                                  <small class="text-primary">49 Courses</small>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                  <a class="position-relative d-block h-100 overflow-hidden" href="">
                      <img class="img-fluid position-absolute w-100 h-100" src="assets\images\cat-4.jpg" alt="" style="object-fit: cover;">
                      <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin:  1px;">
                          <h5 class="m-0">Online Marketing</h5>
                          <small class="text-primary">49 Courses</small>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div>


  

    <!-- Team Start -->
    <div class="container-xxl py-5">
      <div class="container">
          <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
              <h6 class="section-title bg-white text-center text-primary px-3">Instructors</h6>
              <h1 class="mb-5">Expert Instructors</h1>
          </div>
          <div class="row g-4">
              <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                  <div class="team-item bg-light">
                      <div class="overflow-hidden">
                          <img class="img-fluid" src="assets\images\team-1.jpg" alt="">
                      </div>
                      <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                          <div class="bg-light d-flex justify-content-center pt-2 px-1">
                              <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                              <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                              <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                      <div class="text-center p-4">
                          <h5 class="mb-0">Instructor Name</h5>
                          <small>Designation</small>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                  <div class="team-item bg-light">
                      <div class="overflow-hidden">
                          <img class="img-fluid" src="assets\images\team-2.jpg" alt="">
                      </div>
                      <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                          <div class="bg-light d-flex justify-content-center pt-2 px-1">
                              <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                              <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                              <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                      <div class="text-center p-4">
                          <h5 class="mb-0">Instructor Name</h5>
                          <small>Designation</small>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                  <div class="team-item bg-light">
                      <div class="overflow-hidden">
                          <img class="img-fluid" src="assets\images\team-3.jpg" alt="">
                      </div>
                      <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                          <div class="bg-light d-flex justify-content-center pt-2 px-1">
                              <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                              <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                              <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                      <div class="text-center p-4">
                          <h5 class="mb-0">Instructor Name</h5>
                          <small>Designation</small>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                  <div class="team-item bg-light">
                      <div class="overflow-hidden">
                          <img class="img-fluid" src="assets\images\team-4.jpg" alt="">
                      </div>
                      <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                          <div class="bg-light d-flex justify-content-center pt-2 px-1">
                              <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                              <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                              <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                      <div class="text-center p-4">
                          <h5 class="mb-0">Instructor Name</h5>
                          <small>Designation</small>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Team End -->


  <!-- Testimonial Start -->
  <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
      <div class="container">
          <div class="text-center">
              <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
              <h1 class="mb-5">Our Students Say!</h1>
          </div>
          <div class="owl-carousel testimonial-carousel position-relative">
              <div class="testimonial-item text-center">
                  <img class="border rounded-circle p-2 mx-auto mb-3" src="assets\images\testimonial-1.jpg" style="width: 80px; height: 80px;">
                  <h5 class="mb-0">Client Name</h5>
                  <p>Profession</p>
                  <div class="testimonial-text bg-light text-center p-4">
                  <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                  </div>
              </div>
              <div class="testimonial-item text-center">
                  <img class="border rounded-circle p-2 mx-auto mb-3" src="assets\images\testimonial-2.jpg" style="width: 80px; height: 80px;">
                  <h5 class="mb-0">Client Name</h5>
                  <p>Profession</p>
                  <div class="testimonial-text bg-light text-center p-4">
                  <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                  </div>
              </div>
              <div class="testimonial-item text-center">
                  <img class="border rounded-circle p-2 mx-auto mb-3" src="assets\images\testimonial-3.jpg" style="width: 80px; height: 80px;">
                  <h5 class="mb-0">Client Name</h5>
                  <p>Profession</p>
                  <div class="testimonial-text bg-light text-center p-4">
                  <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                  </div>
              </div>
              <div class="testimonial-item text-center">
                  <img class="border rounded-circle p-2 mx-auto mb-3" src="assets\images\testimonial-4.jpg" style="width: 80px; height: 80px;">
                  <h5 class="mb-0">Client Name</h5>
                  <p>Profession</p>
                  <div class="testimonial-text bg-light text-center p-4">
                  <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Testimonial End -->
  <!-- Categories Start -->


  <!-- Courses Start -->
  <div class="container-xxl py-5">
      <div class="container">
          <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
              <h6 class="section-title bg-white text-center text-primary px-3">Courses</h6>
              <h1 class="mb-5">Popular Courses</h1>
          </div>
          <div class="row g-4 justify-content-center">
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                  <div class="course-item bg-light">
                      <div class="position-relative overflow-hidden">
                          <img class="img-fluid" src="assets\images\course-1.jpg" alt="">
                          <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                              <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                              <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
                          </div>
                      </div>
                      <div class="text-center p-4 pb-0">
                          <h3 class="mb-0">$149.00</h3>
                          <div class="mb-3">
                              <small class="fa fa-star text-primary"></small>
                              <small class="fa fa-star text-primary"></small>
                              <small class="fa fa-star text-primary"></small>
                              <small class="fa fa-star text-primary"></small>
                              <small class="fa fa-star text-primary"></small>
                              <small>(123)</small>
                          </div>
                          <h5 class="mb-4">Web Design & Development Course for Beginners</h5>
                      </div>
                      <div class="d-flex border-top">
                          <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>John Doe</small>
                          <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small>
                          <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30 Students</small>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                  <div class="course-item bg-light">
                      <div class="position-relative overflow-hidden">
                          <img class="img-fluid" src="assets\images\course-2.jpg" alt="">
                          <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                              <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                              <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
                          </div>
                      </div>
                      <div class="text-center p-4 pb-0">
                          <h3 class="mb-0">$149.00</h3>
                          <div class="mb-3">
                              <small class="fa fa-star text-primary"></small>
                              <small class="fa fa-star text-primary"></small>
                              <small class="fa fa-star text-primary"></small>
                              <small class="fa fa-star text-primary"></small>
                              <small class="fa fa-star text-primary"></small>
                              <small>(123)</small>
                          </div>
                          <h5 class="mb-4">Web Design & Development Course for Beginners</h5>
                      </div>
                      <div class="d-flex border-top">
                          <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>John Doe</small>
                          <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small>
                          <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30 Students</small>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                  <div class="course-item bg-light">
                      <div class="position-relative overflow-hidden">
                          <img class="img-fluid" src="assets\images\course-3.jpg" alt="">
                          <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                              <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                              <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
                          </div>
                      </div>
                      <div class="text-center p-4 pb-0">
                          <h3 class="mb-0">$149.00</h3>
                          <div class="mb-3">
                              <small class="fa fa-star text-primary"></small>
                              <small class="fa fa-star text-primary"></small>
                              <small class="fa fa-star text-primary"></small>
                              <small class="fa fa-star text-primary"></small>
                              <small class="fa fa-star text-primary"></small>
                              <small>(123)</small>
                          </div>
                          <h5 class="mb-4">Web Design & Development Course for Beginners</h5>
                      </div>
                      <div class="d-flex border-top">
                          <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>John Doe</small>
                          <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small>
                          <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30 Students</small>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Courses End -->
 